In [7]:
import pandas as pd

data = pd.DataFrame({'num':[2,3,4,35,21,1],"color":['red','blue','green','red','green','red']})

data

   num  color
0    2    red
1    3   blue
2    4  green
3   35    red
4   21  green
5    1    red

In [15]:
data.isin([4])

     num  color
0  False  False
1  False  False
2   True  False
3  False  False
4  False  False
5  False  False

In [8]:
num_list = [35,1]

data[data.num.isin(num_list)]

   num color
3   35   red
5    1   red

In [10]:
color_list = ['red','blue']

data[data.color.isin(color_list)]

   num color
0    2   red
1    3  blue
3   35   red
5    1   red