In [3]:
temp = list([1,2,3,4,5])

[i for i in temp]

[1, 2, 3, 4, 5]

i 출력해/ i는 for문으로 temp에서 가져와

if 추가

In [2]:
[i*2 for i in temp if i > 3]

[8, 10]

i 곱하기 2 출력해/i는 for문으로 temp에서 가져와/만약 i가 3보다 크면

else 있으면

In [1]:
[i*2 if i > 3 else i for i in temp]

[1, 2, 3, 8, 10]

i 곱하기 2 출력해/ 만약 i가 3보다 크면/아니면 i로 출력해/ i는 for문으로 temp에서 가져와

elif 있으면

In [21]:
[i*2 if i >3 else i*3 if i>2 else i for i in temp]

[1, 2, 9, 8, 10]

i 곱하기 2 출력해/만약 i가 3보다 크면 /아니면 i 곱하기 3 출력해/만약 i가 2보다 크면/아니면 i 출력해/i는 for문으로 temp에서 가져와

---

In [14]:
for i in range(2):
    for j in range(5):
        print(j)

0
1
2
3
4
0
1
2
3
4

In [17]:
[j for i in range(2) for j in range(5)]

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

j로 리스트 생성하는데/ for문으로 range(2)번 돌기 전/ for문으로 range(5)번 돌아

---

pandas

In [6]:
import numpy as np
import pandas as pd

data = pd.DataFrame({'num':np.random.randn(8)})

In [7]:
data

        num
0 -1.288187
1 -1.827947
2 -0.711652
3 -0.210822
4 -0.298375
5  1.047936
6 -1.673625
7 -0.908582

- 그냥 뽑기

In [8]:
[i for i in data['num']]

[-1.2881872537349646,
 -1.8279470591390585,
 -0.7116520387868837,
 -0.21082248001407283,
 -0.2983751463038755,
 1.0479363332133076,
 -1.673625390963404,
 -0.9085822771601098]

- 양수 뽑기

In [9]:
[i for i in data['num'] if i > 0]

[1.0479363332133076]

- 음수는 모두 0으로

In [10]:
[i if i > 0 else 0 for i in data['num']]

[0, 0, 0, 0, 0, 1.0479363332133076, 0, 0]

- 구간 나누기

In [25]:
[i if i > 0 else 0 if i > -1 else -1 if i > -2 else -2 for i in data['num']]

[-1, -1, 0, 0, 0, 1.0479363332133076, -1, 0]